@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .jumbotron {
        background-image: url('https://images.alphacoders.com/482/thumb-1920-482000.jpg');
        background-size: cover;
        color: white;
    }

    .lead {
        color: black;
    }
</style>
<div class="jumbotron">
    <h1>Your Football App</h1>
    <p class="lead"></p>
    <p><a href="/About" class="btn btn-primary btn-lg">Acerca de &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Competiciones</h2>
        <p>
            Sigue las competiciones de tus equipos favoritos, mira los resultados de sus partidios, su posición 
            y mira los detalles de las todos los partidos.
        </p>
        <p><a class="btn btn-default" href="/Competitions"> Míralo aquí &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contrataciones</h2>
        <p>Observa las contrataciones de jugadores de tus equipos favoritos</p>
        <p><a class="btn btn-default" href=""> Míralo aquí &raquo;</a></p>
    </div>
</div>